REACT_APP_FIREBASE_API_KEY=AIzaSyBYCGYP-tx6DJKgjd4cNPiYoOC3wNk1cwk
REACT_APP_FIREBASE_AUTH_DOMAIN=final-project-react-12190.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=final-project-react-12190
REACT_APP_FIREBASE_STORAGE_BUCKET=final-project-react-12190.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1063777536149
REACT_APP_FIREBASE_APP_ID=1:1063777536149:web:ac906c833922665c00739c
REACT_APP_FIREBASE_MEASUREMENT_ID=G-8BVMCH1W3X
