.chip {
  padding: 0 12px;
  background-color: lightgray;
  border-radius: 100px;
  display: inline-flex;
  margin: 4px;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}
