.nav-bg-cn {
  background-color: #1d4354;
}

.nav-active-link-cn {
  color: #6fda44;
}

.search-input-cnn {
  height: 38px;
  background-color: #2b5468;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* .dropdown-item.active,
.dropdown-item:active {
  background-color: ;
} */

.search-input-cnn:focus {
  background-color: #2b5468;
  box-shadow: unset;
}

.search-btn-cn {
  background-color: #2b5468;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  left: 60px;
  height: 38px;
}

.search-type-cn {
  background-color: transparent;
  top: -2px;
  left: 50px;
  height: 38px;
}

.search-btn-cn:focus {
  box-shadow: unset;
}

.search-icon-cn {
  font-size: 14px;
}

.form-control::placeholder {
  color: white;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #6fda44;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #6fda44;
}

#acc-id {
  width: 350px;
  left: -300px;
}

.acc-cn p {
  font-size: 14px;
  height: 5px;
}

#acc-btns-id button:first-child {
  background-color: #37a000;
  color: white;
}

#acc-btns-id button:last-child {
  color: #656565;
  border: 1px solid #b8b8b8;
  border-left: transparent;
}

#acc-btns-id button:hover {
  background-color: #008329;
  color: white;
}

#search-form-id {
  width: 350px;
  margin-left: -30px !important;
}

#search-form-id ul {
  width: 290px;
  left: -30px !important;
}

#search-type-projects-new {
  font-size: 10px;
  padding: 3px 8px;
  background-color: #0073d2;
  color: white;
}

nav ul ul {
  width: 240px;
}

.nav-dd-cn {
  position: absolute;
  top: -7px;
  left: 28px;
  border: 8px solid white;
  border-color: transparent transparent white white;
  transform: translateX(-50%) rotate(135deg);
}

.nav-dd-acc-cn {
  position: absolute;
  top: -7px;
  right: 6px;
  border: 8px solid white;
  border-color: transparent transparent white white;
  transform: translateX(-50%) rotate(135deg);
}

#nav-reports-id li {
  font-size: 13px;
}
.nav-item.hov-cn:hover .dropdown-menu {
  display: block;
}

/* start media query */

/* navbar */
@media (max-width: 991px) {
  .container {
    max-width: 95%;
  }

  .navbar-toggler {
    border: 0 !important;
    box-shadow: none !important;
  }
  #nav-lg-id {
    display: none !important;
  }
  #nav-sm-id {
    display: flex !important;
  }

  #search-btn-res-id {
    display: block !important;
    font-size: 22px;
  }

  #navbarNav-id {
    display: none;
  }

  .search-btn-cn {
    left: 10px;
  }

  .search-type-cn {
    left: 15px;
  }

  .border-top-cn {
    border-top: 1px solid #2b5468;
  }

  #navbarNavDropdown li > a {
    color: white;
  }

  .nav-item .nav-link.active,
  #navbarNavDropdown li > a:hover {
    color: #6fda44 !important;
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: transparent;
  }

  #acc-btns-id button:last-child {
    background-color: white;
  }

  #acc-btns-id button:hover {
    background-color: #008329;
    color: white;
  }

  #acc-id,
  #jobs-dd-id,
  #talent-dd-id,
  .sub-drop-cn {
    position: relative !important;
    width: 96%;
    background-color: transparent;
    border: 0;
  }

  #acc-id {
    top: -90px !important;
  }

  #jobs-dd-id,
  #talent-dd-id,
  .sub-drop-cn {
    top: -65px !important;
  }
}

@media (min-width: 991px) {
  #nav-sm-id {
    display: none !important;
  }
  #nav-lg-id {
    display: flex !important;
  }
}
