footer {
  background-color: #1d4354;
  padding: 60px 0;
}

footer ul li a {
  display: inline-block;
  color: white;
  font-size: 13px;
  margin: 2px 0;
}
[dir = "rtl"] footer ul li a
{
  font-size: 18px;
}

.social-footer-cn {
  border-top: 1px solid #2b5468;
  border-bottom: 1px solid #2b5468;
}

.footer-menu-cn ul li a:hover {
  color: white;
  text-decoration: underline;
}

.social-footer-cn ul li {
  margin: 0 5px;
  background-color: #2b5468;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.2;
}

.social-footer-cn ul li:hover {
  background-color: #336278;
}

.social-footer-cn ul li a {
  font-size: 16px;
}

.social-footer-cn ul li a:hover {
  color: white;
}

@media (max-width: 767px) {
  .social-footer-cn {
    border: 0;
  }

  .social-footer-cn div.d-flex {
    padding-top: 10px;
    flex-direction: column;
    border-top: 1px solid #2b5468;
  }

  .social-footer-cn div.d-flex.justify-content-end {
    justify-content: start !important;
    border-bottom: 1px solid #2b5468;
  }

  .social-footer-cn div.d-flex ul {
    margin-left: -5px !important;
    margin-top: 10px;
  }
}
