:root {
    --upwork-color: #14A800;
    --upwork-hover-color: #3c8224;
}
* {
    font-family: 'cairo';
    line-height: normal;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.upwork-color {
    color: var(--upwork-color);
}
.upwork-bg-color {
    background-color: var(--upwork-color);
}
.upwork-bg-color:hover {
    background-color: var(--upwork-hover-color);
}
.upwork-border-color {
    border-color: var(--upwork-color);
}
.text-main-color {
    color: #5e6d55;
}
