:root {
    --upw-color: #14a800;
    --upw-hover-color: #3c8224;
    --upw-dark-color: #1d4354;
}
* {
    font-family: cairo;
    line-height: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.upw-color {
    color: var(--upw-color);
}
.upw-bg-color {
    background-color: var(--upw-color);
}
.upw-bg-dark-color {
    background-color: var(--upw-dark-color);
}
.upw-bg-color:hover {
    background-color: var(--upw-hover-color);
}
.upw-border-color {
    border-color: var(--upw-color);
}
.text-main-color {
    color: #5e6d55;
}
.fs-7 {
    font-size: 13px;
}
.form-check-input:checked {
    background-color: var(--upw-color);
    border-color: var(--upw-color);
}
